[package]
name = "aoc"
version = "0.1.0"
edition = "2024"

[lib]
bench = false

[[bench]]
name = "aoc_bench"
harness = false
path = "src/bench.rs"

[dependencies]

[dev-dependencies]
criterion = { version = "0.8" }
